@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Телефонный справочник</h1>
    <p class="lead">В этом приложении вы можете ознакомиться с его функциями, такими как: 
    <p>- Редактирование списка контактов; </p>
    - Добавление новых контактов;
    - Просмотр уже созданных.
    Здесь представлена демо-версия. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Вот</h2>
        <p>
            Данное приложение написано на платформе ASP.NET MVC 5.
        </p>
    </div>
</div>